h1,h2,h3,h4{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}
body,p,input{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}
    body{
        background-color:#000;
    }
    button{
        color: #fff;
        background-color:transparent;
        border: 1px solid #fff;
        border-radius: 4px;
        padding:6px;
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
    }
        button:hover,button:active,button:focus{
            background-color:#fff;
            color:#000;
            cursor:pointer;
        }
#boundingBox{
    max-width:80%;
    margin:0 auto;
    /*overflow:hidden;*/
}
header{
    width:79%;
    position:absolute;
    display:grid;
    grid-template-columns:auto auto;
    background-color:#fff;
}
    #left,#right{
        display:inline-block;
        margin:0;
    }
        #left{
            padding:0 4px 0 22px;
        }
            #left h1{
                color:#000;
                display:inline-block;
            }
            #left h2{
                font-size:16px;
                display:inline-block;
                color:#000;
                margin-left:8px;
            }
                #left h2 a{
                    color:#000;
                    text-decoration:none;
                    transition:0.2;
                }
                    #left h2 a:hover, #left h2 a:active, #left h2 a:focus{
                        color:#000;
                        text-decoration:underline;
                    }
        #right{
            text-align:right;
            padding-top:25px;
            padding-right:22px;
        }
        #right button{
            color: #000;
            background-color:transparent;
            border: 1px solid #000;
            border-radius: 4px;
            padding:6px;
            font-family: 'Open Sans', sans-serif;
            font-size:16px;
        }
            #right button:hover,#right button:active,#right button:focus{
                background-color:#000;
                color:#fff;
                cursor:pointer;
            }

#libraryGrid{
    padding-top:100px;
    color:#fff;
    /*display:inline-grid;
    grid-template-columns:auto auto auto auto;*/
    display:flex;
    flex-wrap: wrap;
    grid-auto-rows: 1fr
}
#dialogBackground{
    margin:auto;
    display:none;
    z-index:98;
    position:absolute;
    background-color:#000;
    opacity:0.6;
    height:99%;
    width:99%;";
}
    #dialogBox{
        z-index:99;
        position:absolute;
        display:none;
        margin:200px auto auto 40%;
        border:1px solid #fff;
        opacity:1;
        text-align:right;
        padding-bottom:25px;
        background-color:#000;
    }
        #newBookForm{
            margin:0 25px;
        }
        #cancelWrapper{
            height:0;
        }
            #cancel{
                margin: 4px 10px 25px 0;
                padding:4px;
                border:none;
                border-radius:100px;
                background-color:transparent;
            }
                #cancel:hover, #cancel:active, #cancel:focus, #cancel:focus-within{
                    color:#fff;
                    opacity:0.4;
                    border:none;
                    background-color:transparent;
                }
        #dialogTitle{
            text-align:center;
            margin-top:50px;
        }
        .dialogCheckbox{
            text-align:left;
        }
        .dialogField{
            margin:10px 0;
            text-align:left;
        }
            .dialogField input{
                width:100%;
            }
        #haveRead{
            height:14px;
            width:14px;
            border-radius:6px;
            background:transparent;
            color:#fff;
            border-color:#fff;
        }
            #haveRead:checked{
                background-color:#fff;
                color:#000;
            }
        #addBook{
            color:#fff;
            background-color:transparent;
            padding:6px;
            border:1px solid #fff;
            border-radius:4px;
            font-size:16px;
            margin-top:10px;
        }
            #addBook:focus, #addBook:hover, #addBook:active{
                background-color:#fff;
                color:#000;
                cursor:pointer;
            }
        .dialogField input{
            background-color:transparent;
            border:1px solid #fff;
            color:#fff;
            font-size:16px;
        }