h1,h2,h3,h4{
    font-family: 'Libre Caslon Display', serif;
    color:#373737;
}
body,p,input{
    font-family: 'Open Sans', sans-serif;
    color:#373737;
}
    body{
        background-image:url("debut_dark.png");
        background-color:#fff;
    }
#boundingBox{
    max-width:80%;
    margin:0 auto;
    /*overflow:hidden;*/
}
header{
    width:79%;
    position:absolute;
    display:grid;
    grid-template-columns:auto auto;
    border:2px solid #373737;
    background-color:#fff;
}
    #left,#right{
        display:inline-block;
        margin:0;
    }
        #left{
            padding:0 4px 0 22px;
        }
        #right{
            text-align:right;
            padding-top:25px;
            padding-right:22px;
        }
            button{
                background-color:#4a65f1;
                color:#fff;
                padding:6px;
                border:2px solid #373737;
                border-radius:4px;
            }
                button:hover,button:active,button:focus{
                    border-color:#373737;
                    background-color:#fff;
                    color:#373737;
                    cursor:pointer;
                }
#libraryGrid{
    padding-top:100px;
    color:#fff;
    display:inline-grid;
    grid-template-columns:auto auto auto auto;
    width:100%;
}
#dialogBackground{
    margin:auto;
    display:none;
    z-index:98;
    position:absolute;
    background-color:#000;
    opacity:0.2;
    height:99%;
    width:99%;";
}
    #dialogBox{
        z-index:99;
        position:absolute;
        display:none;
        margin:200px auto auto 40%;
        background-color:#fff;
        opacity:1;
        padding:25px;
        text-align:right;
    }
        #dialogTitle{
            text-align:center;
        }
        .dialogCheckbox{
            text-align:left;
        }
        .dialogField{
            margin:10px 0;
            text-align:left;
        }
            .dialogField input{
                width:100%;
            }
        #addBook{
            background-color:#4a65f1;
            color:#fff;
            padding:6px;
            border:2px solid #373737;
            border-radius:4px;
            margin-top:10px;
        }
            #addBook:focus, #addBook:hover, #addBook:active{
                border-color:#373737;
                background-color:#fff;
                color:#373737;
                cursor:pointer;
            }