#left,#right{
    display:inline-block;
    margin:0;
    padding:14px;
}
    #right{
        text-align:right;
        float:right;
        padding-top:30px;
        padding-bottom:30px;
    }
#libraryGrid{
    background-color:#000;
    color:#fff;
    display:block;
    width:100%;
}
/* Dialog default styles */
#dialogBackground{
    margin:auto;
    display:none;
    z-index:98;
    position:absolute;
    background-color:#000;
    opacity:0.2;
    height:99%;
    width:99%;";
}
    #dialogBox{
        z-index:99;
        position:absolute;
        display:none;
        margin:200px auto auto 30%;
        background-color:#fff;
        opacity:1;
    }